 <div class="scales index">
  <h2><?php echo __('Scales'); ?></h2>
    <?php 
        foreach ($scales as $scale): 
          echo $this->Html->link ( h($scale['Scale']['name']), array('action' => 'view', $scale['Scale']['id'] ), array('class' => 'scalelink'));
          echo '<br />';

        endforeach
      ?>
</div>