<div class='scale index'>
  <h2><?php echo __('Scale'); ?></h2>
  <?php 
    echo h($scales['Scale']['name']), '<br />';
    foreach ($scale_values as $key => $val) {
      echo $key.'&nbsp;-&nbsp;'.$val['val'];
      echo "<br>";
    }
?>
<br><br>
<div style = "color:red"><?php  echo $keynote;?></div>
<?php 
  foreach ($notes as $key=>$val) {
    echo $val.'&nbsp;|&nbsp;';
  }
?>
<br><br>
  <?php echo $this->Html->link('back to scales', array('action'=>'view'))?>
</div>
